[v-cloak] {
    display: none;
}

.progress.progress-red{
    background-color: #d47075;
}

.progress.progress-red > .indeterminate {
    background-color: #FF033E;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.redToast{
    background: #b03535 !important;
}

.prod-block{
    padding: 1rem !important;
    border: 1px solid #c7c7cb;
}

.prod-block span, .prod-block blockquote{
    font-weight: bold !important;
}