{% extends "base.html" %}

{% block title %}Тестовое задание{% endblock %}

{% block body %}


<div class="product-list">
    {% for product in products %}
    <div class="row d-flex justify-content-center prod-block">
        <div class="col-sm-4 col-lg-4 col-xl-4">
            <blockquote>
                {{product.name}}
            </blockquote>
            <div>
                <span>Взаимозаменяемости</span>
                {% if product.usage is not empty %}
                {% for usageOne in product.usage %}
                <ul>
                    {% for usageName, usageVal in usageOne %}
                    <li>{{usageName}}: {{usageVal}}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
                {% else %}
                <p>Отсутствуют</p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-xl-4">
            <span>Цены</span>
            <ul>
                {% for city, price in product.price %}
                <li>{{city}}: {{price}} Руб.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4 col-lg-4 col-xl-4">
            <span>Остатки</span>
            <ul>
                {% for city, quantity in product.quantity %}
                <li>{{city}}: {{quantity}} шт.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    {{pagination | raw}}
</div>


{% endblock %}
