<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/boot.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>
<div id="root">
    <div class="navbar-fixed">
        <nav class=" teal lighten-2">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right">
                    {% if app.isAuth()%}
                    <li><a href="/auth/logout">Выйти</a></li>
                    {%endif%}
                </ul>
            </div>
            <div v-cloak v-if="loading">
                <div class="progress progress-red" style="margin-top:0px;">
                    <div class="indeterminate "></div>
                </div>
            </div>

        </nav>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">

            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
